<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Analysebericht für Ticket {{ ticket_number }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Analysebericht für Ticket {{ ticket_number }}</h1>

  <pre>{{ analysis_content }}</pre>

  <p><a href="{{ url_for('upload_file') }}">Zurück zur Übersicht</a></p>

  <footer>
    &copy; 2024 CrashDumpAnalyzer by NickleLP
  </footer>
</body>
</html>
