<!doctype html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('CrashDumpAnalyzer') }}</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <body>
    <div id="overlay" class="overlay" onclick="toggleSettingsMenu()"></div>
    <!-- Einstellungen-Icon -->
    <div class="settings-icon">
        <i class="fas fa-cog" onclick="toggleSettingsMenu()"></i>
    </div>

    <!-- Dropdown-Menü -->
    <div id="settings-menu" class="settings-menu">
        <!-- Spracheinstellungen -->
        <div class="language-selector">
            <p>{{ _('Select language:') }}</p>
            <p>--------------------------------</p>
            <a href="{{ url_for('set_language', language='en') }}">{{ _('English') }}</a>
            <a href="{{ url_for('set_language', language='de') }}">{{ _('Deutsch') }}</a>
            <a href="{{ url_for('set_language', language='nl') }}">{{ _('Dutch') }}</a>
            <p>--------------------------------</p>
        </div>
        <!-- Theme-Umschalter -->
        <div class="theme-switcher">
            <p>{{ _('Select theme:') }}</p>
            <label>
                <input type="checkbox" onchange="toggleTheme()" id="theme-toggle">
                {{ _('Dark Mode') }}
            </label>
        </div>
    </div>

    <!-- JavaScript -->
    <script>
      // Funktion zum Umschalten des Settings-Menüs
      function toggleSettingsMenu() {
        const menu = document.getElementById('settings-menu');
        menu.classList.toggle('open');
      }
  
      // Funktion zum Umschalten des Themes
      function toggleTheme() {
          const currentTheme = document.documentElement.getAttribute('data-theme');
          const newTheme = (currentTheme === 'dark') ? 'light' : 'dark';
          document.documentElement.setAttribute('data-theme', newTheme);
          localStorage.setItem('theme', newTheme);
          // Schalterzustand aktualisieren
          document.getElementById('theme-toggle').checked = (newTheme === 'dark');
      }
  
      // Theme beim Laden der Seite setzen
      (function() {
          const savedTheme = localStorage.getItem('theme') || 'light';
          document.documentElement.setAttribute('data-theme', savedTheme);
          // Schalterzustand initialisieren
          document.getElementById('theme-toggle').checked = (savedTheme === 'dark');
      })();
  
      // Klick außerhalb des Menüs schließen
      document.addEventListener('click', function(event) {
          const menu = document.getElementById('settings-menu');
          const icon = document.querySelector('.settings-icon');
          if (!menu.contains(event.target) && !icon.contains(event.target)) {
            menu.classList.remove('open');
          }
       });
  </script>  
</body>
    <h1>{{ _('CrashDumpAnalyzer') }}</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p> 
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data" class="upload-form">
        <div id="drop-zone">
            <p>{{ _('Drag file here or click to select a file.') }}</p> 
            <input id="file-upload" type="file" name="file" accept=".dmp">
        </div>
        <div class="form-group">
            <input type="submit" value="{{ _('Upload & Analyze') }}" class="btn-upload"> 
        </div>
    </form>

    <h2>{{ _('Tickets') }}</h2> 
    <!-- Innerhalb des Body-Tags -->
    {% if tickets %}
      {% for ticket in tickets %}
        <div class="ticket">
            <div class="ticket-header">
                <span class="ticket-title">{{ _('Ticket') }} #{{ ticket.id }}</span>
                <span class="ticket-timestamp">{{ ticket.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
            </div>
            <p>{{ _('Anwendungsname') }}: {{ ticket.application_name }}</p>
            <p>{{ _('Reason for the crash:') }}: {{ ticket.description }}</p>
            <a href="{{ url_for('view_analysis', ticket_id=ticket.id) }}">{{ _('Analysebericht ansehen') }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>{{ _('No tickets available yet.') }}</p>
    {% endif %}

    <footer>
        <p>&copy; 2024 CrashDumpAnalyzer by NickleLP | {{ _('Version') }} <a href="{{ url_for('changelog') }}">{{ version }}</a></p>
    </footer>

    <div id="js-translations" style="display: none;">
      <span id="selected-file">{{ _('Selected file:') }}</span>
      <span id="drop-file">{{ _('Drag file here or click to select a file.') }}</span>
    </div>
  <script>
    const fileUpload = document.getElementById('file-upload');
    const dropZone = document.getElementById('drop-zone');
    const translations = document.getElementById('js-translations');
    const selectedFileText = translations.querySelector('#selected-file').textContent;
    const dropFileText = translations.querySelector('#drop-file').textContent;

  
    // Öffnet den Datei-Explorer, wenn auf die Drop-Zone geklickt wird
    dropZone.addEventListener('click', () => {
      fileUpload.click();
    });
  
    // Verhindert das Standardverhalten von Drag-and-Drop
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      dropZone.addEventListener(eventName, preventDefaults, false);
    });
  
    function preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  
    // Fügt Klasse hinzu/entfernt sie, wenn Datei über Drop-Zone ist
    ['dragenter', 'dragover'].forEach(eventName => {
      dropZone.addEventListener(eventName, highlight, false);
    });
  
    ['dragleave', 'drop'].forEach(eventName => {
      dropZone.addEventListener(eventName, unhighlight, false);
    });
  
    function highlight(e) {
      dropZone.classList.add('dragover');
    }
  
    function unhighlight(e) {
      dropZone.classList.remove('dragover');
    }
  
    // Handhabt das Drop-Ereignis
    dropZone.addEventListener('drop', handleDrop, false);
  
    function handleDrop(e) {
      const dt = e.dataTransfer;
      const files = dt.files;
  
      if (files.length > 0) {
        // Wir akzeptieren nur eine Datei
        fileUpload.files = files;
        updateFileName();
      }
    }
  
    // Aktualisiert die Anzeige, wenn eine Datei ausgewählt wird
    fileUpload.addEventListener('change', updateFileName);
  
    function updateFileName() {
        const files = fileUpload.files;
        if (files.length > 0) {
          dropZone.querySelector('p').textContent = selectedFileText + ' ' + files[0].name; 
        } else {
          dropZone.querySelector('p').textContent = dropFileText; 
        }
      }
  </script>
  <script>
    // Funktion zum Umschalten des Themes
    function toggleTheme() {
        const currentTheme = document.documentElement.getAttribute('data-theme');
        const newTheme = (currentTheme === 'dark') ? 'light' : 'dark';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
    }

    // Theme beim Laden der Seite setzen
    (function() {
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', savedTheme);
    })();
</script>
</body>
</html>
